#somos {
    .container{
        text-align: center;
        padding: 120px 12px;
    }
    h2{
        font-size: 1.9em;
        margin-bottom: 15px
    }
    p{
        font-size: 18px;
        margin: 10px;
    }
}